* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
    background-image: linear-gradient(120deg, rgba(187, 36, 238, 0.8), rgba(0, 102, 255, 0.8), rgba(133, 219, 241, 0.6));
    padding-left: 30px;
    padding-bottom: 80px;
    padding-top: 10px;
}

#word_analysis_text {
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
    margin: 15px;
    width: 100%;
}

.textbox {
    float: left;
    border-color: cadetblue;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px;
    resize: none;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 15px;
    background-color: rgba(229, 229, 240, 0.777);
    opacity: 80%;
    float: left;
    text-align: center;
    justify-content: center;
    margin-left: 15px;
}

.detail {
    flex: 1 1 200px;
    text-align: center;
    padding: 18px;
}

footer {
    opacity: 70%;
    margin: 30px;
    font-size: 12px;
}

.tools {
    margin: 15px;
    cursor: pointer;
}